@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
}

.library-empty-msg {
    color: white;
}

body {

    font-family: 'Grandiflora One', serif;
    min-width: 725px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 200px auto;
    grid-template-rows: 80px 100vh;
    grid-template-areas: "sidebar container-top"
                            "sidebar main-container ";
}

.sidebar {
    background-color: #002186;
    color: #ffffe8;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 80px;
    justify-items: center;
    padding-top: 10px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}

.container-top {
    background-color: #3250bc;
    color: #ffffe8;
    grid-area: container-top;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 6px -6px lightgrey;
    width: 100%;
}

.main-container {
    background-color:#3250bc;
    padding-left: 20px;
    padding-top: 20px;
    grid-area: main-container;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 10px;
}

button {
    border-style: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

li {
    background-color: #ffffe8;
    list-style: none;
    border-style: none;
    border-radius: 15px;
    display: grid;
    justify-items: center;
    align-items: center;
    box-shadow: 3px 5px 6px -6px grey;
    max-height: 250px;
    max-width: 250px;
}

.toggle-button {
    width: 85px;
    height: 45px;
    background: orange;
    border-radius: 15px;
    text-align: center;
}

